<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Aluno</title>
</head>
<body>
    <form action="/alunos/create" method="POST">
      <div>
        <label for="nome">Nome</label>
        <input id="nome" name="nome" placeholder="Digite seu nome" type="text">
      </div>
    
      <div>
        <label for="sobrenome">Sobrenome</label>
        <input id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome" type="text">
      </div>

      <div>
        <label for="ano_matricula">Ano de matricula</label>
        <input id="ano_matricula" name="ano_matricula" placeholder="Digite seu ano de matricula" type="number">
      </div>
      
      <button type="submit">Enviar</button>
    </form>
</body>
</html>