<!DOCTYPE html>
<html>
  <head>
    <title>Escola</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% alunos.forEach(aluno => {%>
     <div>
      <p><strong>Nome: </strong><%= aluno.nome%></p>
      <p><strong>Sobrenome: </strong><%= aluno.sobrenome%></p>
      <p><strong>Ano_matricula: </strong><%= aluno.ano_matricula%></p>
      <hr>
    </div>
    <% }) %>
  </body>
</html>
